nav{
color:teal;
}

blockquote { 
background-color: teal;
border-radius: 30px;
}

a{
font-size:20px;
}

a:hover{
text-decoration: underline;
background-color: gray;
}

em{
color:white ;
}

button{
position:relative;
left:-10px;
}

li { 
padding: 10%;
font-size: 25px;
}

strong { 
color: white;
}

div.sticky{
position: sticky;
top:0px ;
}